<template>
  <div id="app">
    <h3 @click="click">Cơ sở điện sinh học</h3>
    <div>
      <ul>
        <li>Nguyễn Hoàng Việt</li>
        <li>Nguyễn Duy Quang</li>
        <li>Nguyễn Thuỳ Linh</li>
        <li>Phạm Thị Thu Hà</li>
        <li>Nguyễn Quỳnh Nga</li>
        <li>Nguyễn Minh Trọng</li>
      </ul>
      <input type="number" placeholder="Khoảng cách giữa hai bản tụ" class="input">
    </div>
    <line-chart ref="chart" :chartData="chartData" :options="chartOptions"/>
  </div>
</template>

<script>
import LineChart from './components/LineChart.vue'
import {db} from '@/firebase'
import moment from 'moment'

export default {
  name: 'app',
  data () {
    return {
      chartData: {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        datasets: [
          {
            label: 'Điện áp',
            backgroundColor: '#f87979',
            data: [40, 20, 21, 22, 23, 24, 25, 26, 27, 15]
          }
        ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  components: {
    LineChart
  },
  methods:{
    click () {
      this.$refs.chart.update()
    }
  },
  mounted () {
    let newItem = false
    const messageRef = db.ref(`volt`)
    
    messageRef.off()
    messageRef.on('child_added', data => {
      if (!newItem) return
      const newData = this.chartData
      newData.datasets[0].data.push(data.val())
      newData.labels.push(moment().format('HH:mm:ss'))
      this.chartData = newData
      this.$refs.chart.update()
    })
    messageRef.once('value', () => {
      newItem = true
    })
  }
}
</script>

<style>
  .input {
    padding: 5px;
    width: 150px;
    float: left;
  }
</style>
